<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hamish Dickson</title>
    <link href="public/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top"
     role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/hamishdickson" target="_blank">Hamish Dickson</a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/$"><a href="/">Home</a></li>
        <li><a target="_blank" href="https://github.com/hamishdickson">My code</a></li>
        <!--<li><a href="/about">About me</a></li>
        <li><a href="/cv">My CV</a></li>
        <li><a href="/projects">My Projects</a></li>-->
        <li><a target="_blank" href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">What is this?</a></li>
    </ul>
</div>

<div class="background" ng-controller="MainController" data-ng-init="iterate()">
    <table>
        <tr ng-repeat="row in grid track by $index">
            <td ng-repeat="cell in row track by $index">
                <div class="{{getCellCssClass($parent.$index, $index)}}"></div>
            </td>
        </tr>
    </table>
</div>

<div ng-view id="main-panel"></div>

<footer>
    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul>
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted">GH/HAMISHDICKSON</a></li>
            </ul>
        </div>
    </div>
</footer>

<!--
<script src="public/vendor/angular.js"></script>
<script src="public/vendor/angular-strap.js"></script>
<script src="public/vendor/angular-strap.tpl.js"></script>
<script src="public/vendor/angular-messages.js"></script>
<script src="public/vendor/angular-resource.js"></script>
<script src="public/vendor/angular-route.js"></script>

<script src="public/app.js"></script>
<script src="public/controllers/main.js"></script>
-->

<script src="public/app.min.js"></script>
<script src="public/templates.js"></script>

</body>
</html>
