<div class="about-page">
    <div class="col-md-12">
        <div>
            <h1>Hamish Dickson</h1>
        </div>

        <div>
            <div class="col-md-4">
                <img src="http://www.gravatar.com/avatar/4cfce72158cd5741f0a48e67483b85e8?s=250"
                     class="img-responsive">
            </div>
            <div class="col-md-8">

                <h3>TL; DR</h3>

                <p>Im a Java Engineer at Constant Commerce, a startup based in London, England.</p>

                <p>Before CC, I did financial software things for JHC, a company who provides software to investment banks.</p>

                <p>I can't make much of what I do at work public, but I spend a huge amount of my free time coding or
                    reading about new things which may or may not end up as code - I put almost all of that up here.</p>

                <p>As a child all over the world - including a 11 year stint in New Zealand - but for the last 13 years
                    I've been based in London, doing the learning thing and then the "oh no, I'd better earn some money
                    so I can eat" thing.</p>
            </div>
            <div class="col-md-12">
                <hr>
                <h2>In brief</h2>
            </div>

            <div class="col-md-4">
                <div>
                    <i class="fa fa-graduation-cap fa-3x"></i>
                </div>
                <div>
                    <h3>I'm always learning</h3>
                    <p>I'm one of those people that's always trying to learn new things and has some new wacky book in
                        his hand. Right now I'm mid way through a book on machine learning, another on refactoring
                        and a third on quantum information theory.
                    </p>
                    <p>It's really important to me that I stay challenged and keep learning. I actually
                        consider a day without learning a wasted day.</p>
                </div>

            </div>

            <div class="col-md-4">
                <div>
                    <i class="fa fa-terminal fa-3x"></i>
                </div>

                <div>
                    <h3>I love to code</h3>

                    <p>The best part of my day is when I'm coding.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <i class="fa fa-wrench fa-3x"></i>
                </div>
                <div>
                    <h3>I'm a self starter</h3>

                    <p>I'm constantly described as a "self starter" and naturally like to pick things up and try them
                        out.
                        I'm at my best when I'm told to go away and work something out.</p>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <hr>
            <h3>Non-geeky stuff</h3>

            <p>I'm not a total nerd all the time - I'm really into my rugby and lacrosse. I also like beer.</p>
        </div>


        <div class="col-md-12">
            <hr>
            <h3>More about me</h3>

            <h4>What interests me</h4>

            <p>I've recently finished Andrew Ng's excellent Machine Learning coursera course. I found this fascinating
                and would love to know more or work on an interesting machine learning problem (I've been trying to find
                something open source to contribute to, but so far haven't found anything that catches my eye).</p>

            <p>I'd really like to know more about genetics, how the brain works and biology in general - I think this
                area
                has a lot of untapped potential for interesting maths and computer modelling.</p>

            <p>Turbulence and fluid dynamics are very interesting to me, we know the small picture very well (we know
                how individual molecules should act), but when the system gets above a certain size everything goes out
                the
                window and we have to make very general guesses as to what will happen.</p>

            <p>I did physics at university and still absolutely love it. I still read a lot of physics and
                maths.</p>

            <hr>
            <h4>What I'm good at</h4>

            <p>I'm really at my best when given a "go away and solve this" problem.</p>

            <p>I'm good at teaching. Over the last few years I have taught lots of new graduates to code and
                analyse problems.</p>

            <p>No one can work on their own all the time, I've always been good at working with people (I'm
                a fan of pair programming) and I'm very good at getting my ideas across to people.</p>
            <hr>
        </div>

        <div class="col-md-12">

            <h3>Learning</h3>

            <p>Keeping on top of new ideas and concepts is very important as a programmer, you have to
                constantly be out
                learning new things (this fits my personality well, so I'm pretty happy with it!)</p>

            <div>

                <h4>What I'm learning at the moment</h4>

                <ul>
                    <li>Machine Learning</li>
                    <li>Clojure</li>
                    <li>Scala</li>
                </ul>

            </div>
            <div>
                <h4>What I'm planning to learn next</h4>
                <ul>
                    <li>Modeling some physics problems</li>
                </ul>

            </div>

            <div>

                <h4>What I'm reading right now</h4>

                <ul>
                    <li>Refactoring: Improving design of existing code, Martin Fowler</li>
                    <li>Clojure for Machine Learning, Akhil Wali (my notes for which are <a
                            href="https://github.com/hamishdickson/clojure-machine-learning"
                            target="_blank">here</a>)
                    </li>
                    <li>Incompleteness, Nonlocality and Realism, Redhead. A book detailing the limits of Quantum
                        Mechanics
                    </li>
                </ul>
            </div>

            <hr>
        </div>

        <div class="col-md-12">
            <h3>Contact and history</h3>

            <p>It's pretty easy to get in touch with me - probably the best way is email, or if you'd like to know more
            then linkedIn is a good place to start too.</p>

            <p>
                <a href="https://github.com/hamishdickson"><i class="fa fa-github"></i> GITHUB/HAMISHDICKSON</a>
                |
                <a href="uk.linkedin.com/in/hamishdickson"><i class="fa fa-linkedin-square"></i> LINKEDIN/HAMISHDICKSON</a>
            </p>

            <h4>Work</h4>
            <ul>
                <li><strong>JHC Systems</strong>, java developer, 2014 - present</li>
                <li><strong>JHC Systems</strong>, senior analyst programmer, 2008 - 2014</li>
            </ul>

            <h4>Education</h4>
            <ul>
                <li><strong>Imperial College London</strong>, Quantum Fields and Fundamental Forces</li>
                <li><strong>Imperial College London</strong>, Physics with Theoretical Physics</li>
            </ul>

            <hr>
        </div>
    </div>
    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul class="footer-links">
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-github"></i> HAMISHDICKSON</a></li>
                <li><a href="uk.linkedin.com/in/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-linkedin-square"></i> HAMISHDICKSON</a></li>
            </ul>
        </div>
    </div>
</div>