<div class="about-page">
    <div class="col-md-12">
        <div>
            <h1>Hamish Dickson</h1>
        </div>

        <div>

            <div class="col-md-12">

                <div class="col-md-4">
                    <img src="http://www.gravatar.com/avatar/4cfce72158cd5741f0a48e67483b85e8?s=250"
                         class="img-responsive">
                </div>
                <div class="col-md-8">

                    <h3>TL; DR</h3>

                    <p>Note: you can find a version of my CV <a href="http://hamishdickson.github.io/#cv">here</a></p>

                    <p>Hi there, welcome to my CV and a bit about me. Further down on this page you can find my CV, it's
                        on
                        here
                        for two main reasons, so I can easily keep it up to date on github and to make it easy for
                        people to
                        find.
                        Having
                        said that, if you are a recruiter please get my permission before you use it. You can do that by
                        contacting me
                        on <a href="https://www.linkedin.com/in/hamishdickson" target="_blank">here</a>.</p>
                </div>
                <div class="col-md-12">

                    <hr>
                    <h2>About me in brief</h2>

                    <p>if you only need to know 3 things about me they should be:</p>
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <i class="fa fa-graduation-cap fa-3x"></i>
                </div>
                <div>
                    <h3>I'm always learning</h3>

                    <p>I'm one of those people that's always trying to learn new things and has some new wacky book in
                        his
                        hand.
                        It's really important to me that I stay challenged and keep learning. I actually
                        consider a day without learning a wasted day.</p>
                </div>

            </div>

            <div class="col-md-4">
                <div>
                    <i class="fa fa-terminal fa-3x"></i>
                </div>

                <div>
                    <h3>I love to code</h3>

                    <p>The best part of my day is when I'm coding.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <i class="fa fa-wrench fa-3x"></i>
                </div>
                <div>
                    <h3>I'm a self starter</h3>

                    <p>I'm constantly described as a "self starter" and naturally like to pick things up and try them
                        out.
                        I'm at my best when I'm told to go away and work something out.</p>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <hr>
            <h3>Non-geeky stuff</h3>

            <p>I'm really passionate about coding and learning new things, but realistically you can't do
                that 24/7 and absorb it all - I like to get away from it all by going to the gym and lifting
                heavy things up and down. I'm also really into my rugby and lacrosse.</p>
        </div>


        <div class="col-md-12">
            <hr>
            <h3>More about me</h3>

            <h4>What interests me</h4>

            <p>I've recently finished Andrew Ng's excellent Machine Learning coursera course. I found this fascinating
                and would love to know more or work on an interesting machine learning problem (I've been trying to find
                something open source to contribute to, but so far haven't found anything that catchs my eye).</p>

            <p>I'd really like to know more about genetics, how the brain works and biology in general - I think this
                area
                has a lot of untapped potential for interesting maths and computer modelling.</p>

            <p>Turbulence and fluid dynamics are very interesting to me, we know the small picture very well (we know
                how individual molecules should act), but when the system gets above a certain size everything goes out
                the
                window and we have to make very general guesses as to what will happen.</p>

            <p>I did physics at university and still absolutely love it. I still read a lot of physics and
                maths.</p>

            <hr>
            <h4>What I'm good at</h4>

            <p>At my last performance review, my boss said this of me: "I love Hamish's massive geekyness"</p>

            <p>I'm at my best when given a "go away and solve this" problem.</p>

            <p>I'm good at teaching. Over the last few years I have taught lots of new graduates to code and
                analyse problems.</p>

            <p>No one can work on their own all the time, I've always been good at working with people (I'm
                a fan of a type of pair programming) and I'm very good at getting my ideas across to people.</p>
            <hr>
        </div>

        <div class="col-md-12">

            <h3>Learning</h3>

            <p>Keeping on top of new ideas and concepts is very important as a programmer, you have to
                constantly be out
                learning new things (this fits my personality well, so I'm pretty happy with it!)</p>

            <div>

                <h4>What I'm learning at the moment</h4>

                <ul>
                    <li>Machine Learning</li>
                    <li>Clojure</li>
                </ul>

            </div>
            <div>
                <h4>What I'm planning to learn next</h4>

                <ul>
                    <li>Modeling some physics problems</li>
                </ul>

            </div>

            <div>

                <h4>What I'm reading right now</h4>

                <ul>
                    <li>Refactoring: Improving design of existing code, Martin Fowler</li>
                    <li>Clojure for Machine Learning, Akhil Wali (my notes for which are <a
                            href="https://github.com/hamishdickson/clojure-machine-learning"
                            target="_blank">here</a>)
                    </li>
                    <li>Incompleteness, Nonlocality and Realism, Redhead. A book detailing the limits of Quantum
                        Mechanics
                    </li>
                </ul>
            </div>

            <hr>
        </div>

        <div class="col-md-12">
            <h3>Contacting me</h3>

            <p>For obvious reasons I don't put my contact details up on here, so if you would like to contact me, please
                do so through linkedIn, my profile link is <a
                        href="http://uk.linkedin.com/pub/hamish-dickson/67/3b0/47b/"
                        target="_blank">
                    here</a> if you send me a message, I promise I will read it.</p>

            <hr>
        </div>
    </div>
</div>
<div id="foots">
    <div class="col-sm-6">
        <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
    </div>
    <div class="col-sm-6">
        <ul class="footer-links">
            <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted">GH/HAMISHDICKSON</a></li>
        </ul>
    </div>
</div>