<div class="col-md-12">

    <h3>Rants and bants</h3>

    <p>Just because it's fun to moan every now and again.</p>

    <hr>

    <div>
    </div>

    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul class="footer-links">
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-github"></i> HAMISHDICKSON</a></li>
                <li><a href="uk.linkedin.com/in/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-linkedin-square"></i> HAMISHDICKSON</a></li>
            </ul>
        </div>
    </div>
</div>