<div class="col-md-12">

    <h3>Rants and bants</h3>

    <p>Just because it's fun to moan every now and again.</p>

    <div>
        <h3>To London or not to London?</h3>
        <p>So in the interests of full disclosure - I grew up all over the world. My father worked for a giant oil
        company when I was young and so it was normal for me to move every year or so.</p>

        <p>Having said that, I've now lived in London for 13 years. I came to university here, enjoyed every second so
        went out my way to stay.</p>

        <p>I now work for a company who makes software for investment banks. While not the most rewarding work, I work
        with great people and love working with them.</p>

        <p>So here is my problem: London is insane.</p>

        <p>Let me break that down a bit, firstly it's impossible for a normal person to buy a house here. I earn an OK
            wage (I could earn more doing similar work at a bank, but as explained above it's not that rewarding and
            hey, I like the people I work with) but have no real savings (certainly not that 50 grand plus needed for
            a deposit).</p>

        <p>Secondly: The Tube. If that needs explaining, then you've probably not been to London.</p>

        <p>Thirdly: It's expensive.</p>

        <p>So these points (and many more) would be worth it if I went out a lot or did lots of things in London, but that
        really doesn't happen - I get up, code some stuff, go to work, go to the gym, come home and crash out. Then do it
        all again. I don't take advantage of this place.</p>

        <p class="blog-footer">Hamish - 17th May 2015</p>
    </div>

    <hr>

    <div>
        <h3>Coursera deadlines</h3>
        <p>So I've been working on Coursera's Programming Course for the last few weeks - one of the things that always
        gets me about Coursera is it's weirdly strict deadlines. Usually the homeworks use automated tests for grading
        meaning the course itself must have set the timescales. Weird.</p>

        <p class="blog-footer">Hamish - 16th May 2015</p>
    </div>

    <hr>

    <div>
        <h3>Hi</h3>
        <p>Welcome to my blog. I will start off by saying that I can make very few promises about the content here, in
        general it will probably be without any worth to society ... but it's fun to rant.</p>

        <p class="blog-footer">Hamish - 14th May 2015</p>
    </div>

    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul class="footer-links">
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-github"></i> HAMISHDICKSON</a></li>
                <li><a href="uk.linkedin.com/in/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-linkedin-square"></i> HAMISHDICKSON</a></li>
            </ul>
        </div>
    </div>
</div>