<div class="col-md-12">

    <h3>Rants and bants</h3>

    <p>Just because it's fun to moan every now and again.</p>

    <hr>

    <div>
        <h3>Coursera deadlines</h3>
        <p>So I've been working on Coursera's Programming Course for the last few weeks - one of the things that always
        gets me about Coursera is it's weirdly strict deadlines. Usually the homeworks use automated tests for grading
        meaning the course itself must have set the timescales. Weird.</p>

        <p class="blog-footer">Hamish - 16th May 2015</p>
    </div>

    <hr>

    <div>
        <h3>Hi</h3>
        <p>Welcome to my blog. I will start off by saying that I can make very few promises about the content here, in
        general it will probably be without any worth to society ... but it's fun to rant.</p>

        <p class="blog-footer">Hamish - 14th May 2015</p>
    </div>

    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul class="footer-links">
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-github"></i> HAMISHDICKSON</a></li>
                <li><a href="uk.linkedin.com/in/hamishdickson" target="_blank" class="text-muted"><i class="fa fa-linkedin-square"></i> HAMISHDICKSON</a></li>
            </ul>
        </div>
    </div>
</div>