<!-- ========================================================================== -->
<div class="col-sm-12">
    <div id="cv" class="print-cv">
        <h2>My CV</h2>
        <a href="javascript:window.print()">
            <button type="button" class="btn btn-primary"><i class="fa fa-print"> Print my CV</i></button>
        </a>
    </div>

    <hr>

    <div>
        <div class="col-md-8">
            <h4>Hamish Dickson</h4>
        </div>
        <div class="col-md-4">
            <p>hamish.dickson@gmail.com</p>
            <p>https://github.com/hamishdickson</p>
        </div>

        <hr>

        <div>

            <hr class="col-md-12">
            <h3>Work</h3>

            <div class="col-md-12">
                <div class="col-md-4">
                    <h4>Constant Commerce</h4>
                    <h5>07/2015 - present</h5>
                </div>

                <div class="col-md-8">
                    <p>Constant Commerce are a London based startup providing shoppable content to some of the biggest
                    publishing brands in the world.</p>

                    <h4>Java Engineer</h4>
                    <p>Build a new permissions framework and make it available via REST.</p>

                    <hr class="col-md-12">
                </div>


                <div class="col-md-4">
                    <h4>JHC Systems</h4>
                    <h5>08/2008 - 06/2015</h5>
                </div>

                <div class="col-md-8">
                    <p>JHC produce the financial software needed by investment banks to carry out their business, that goes
                        from the back office database all the way through to the client facing web sites and document
                        reporting.
                        I joined JHC as a university graduate, over time became a Senior Analyst Programmer and finally
                        concentrated
                        in java development.</p>

                    <h4>Java Developer</h4>
                    <h5>2014 - present</h5>

                    <p>Specialising in building websites and REST apis.</p>

                    <p>Work in teams of 4-6 using an agile (and JIRA) methodology.</p>

                    <p>Recent developments include: a large refactoring of a piece of software designed to obtain prices
                        from
                        the market, new trading sites for Jarvis IM and Brooks Macdonald (both recently live),
                        setting up a new Jenkins continuous integration build server with groovy.</p>

                    <p>As with everyone in my team, I perform code reviews (along with having my code reviewed) and write
                        unit tests (using TDD where possible). I am also the deputy functional architect for the stock
                        database.</p>

                    <hr>
                </div>
            </div>


            <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <h4>Senior Analyst Programmer</h4>
                    <h5>2008 - 2014</h5>

                    <p>Responsibilities included</p>
                    <ul>
                        <li>Meeting existing and potential clients to discuss their needs and gather requirements</li>
                        <li>Writing specifications and software documentation (both technical and non-technical). This
                            includes detailing functionality of the system, creating UML diagrams and entity relationship
                            diagrams.
                        </li>
                        <li>Research and prototype new software and presenting findings.</li>
                        <li>Demonstrating new technology to technical and non-technical audiences</li>
                        <li>Create new software, test it and support it after release</li>
                        <li>As an experienced developer, I spend a lot of time mentoring and teaching. At the moment I am
                            teaching a graduate class with the aim to improve the quality of software. I also spend a lot of
                            time helping more senior members of staff
                        </li>
                        <li>I have been given the extra responsibility of being the deputy Function Architect for the stock
                            database. This involves reading and approving
                            specifications, discussing client requirements and making decisions on the impact of functional
                            changes to the system
                        </li>
                        <li>I have lead my team (14 people) for up to 6 weeks at a time.</li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <hr>
            <h3>Technology Summary</h3>

            <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <h5>Languages/Programming:</h5>

                    <p>Java, Javascript/node.js, HTML/CSS, SQL, Groovy, Python, Scala</p>
                    <h5>Systems:</h5>

                    <p>as400, Linux, Unix, OSX, Windows</p>
                    <h5>Databases:</h5>

                    <p>DB2</p>

                    <h5>Frameworks</h5>

                    <p>JUnit, Spring, Jersey, Swagger</p>

                    <h5>Build tools</h5>

                    <p>Maven, npm, SBT</p>

                    <h5>VCS</h5>

                    <p>Git, Subversion</p>
                </div>
            </div>
        </div>

        <div>
            <hr class="col-md-12">
            <h3>Education</h3>

            <div class="col-md-12">
                <div class="col-md-4">
                    <h4>Imperial College London</h4>
                </div>
                <div class="col-md-8">
                    <h5>MSc Quantum Fields and Fundamental Forces</h5>
                    <h6>2006 - 2007</h6>

                    <p>Subjects studied include: String Theory, Supersymmetry, Black Holes, Quantum Information Theory
                        Dissertation topic: Boundary Limits of Quantum Information Theory</p>

                    <hr>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <h4>Imperial College London</h4>
            </div>
            <div class="col-md-8">
                <h5>MSci Physics with Theoretical Physics (2.1)</h5>
                <h6>2002 - 2006</h6>

                <p>4th year modules include: General Relativity, Advanced Particle Physics, Quantum Field Theory,
                    Unification, Group Theory.
                    Dissertation topic: Decoherence and Topos Theory</p>

                <hr>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <h4>Rossett School, Harrogate</h4>
            </div>
            <div class="col-md-8">
                <h5>A-levels</h5>
                <h6>2000 - 2002</h6>

                <p>Maths (A), Further Maths (A), Physics (A)</p>

            </div>
        </div>
    </div>




    <div>
        <hr class="col-md-12">
        <div class="col-md-12">
            <h3>Qualifications</h3>

            <div class="col-md-4">
                <h4>Professional Qualifications</h4>
            </div>
            <div class="col-md-8">
                <p>Oracle Certified Professional, Java SE6 Programmer</p>

                <p>ISEB Foundation Certificate in Software Testing</p>

                <p>IAQ (now IOC) Certification</p>

                <hr>
            </div>
            <div class="col-md-4">
                <h4>Coursera</h4>
            </div>
            <div class="col-md-8">
                <p><a href="https://www.coursera.org/" target="_blank">Coursera</a> is a free online learing tool.
                    Courses are run from all over the world and take on a huge range
                    of subjects.</p>

                <h5>Machine Learning, Stanford</h5>
                <h6>12/2014</h6>

                <p>An introduction to the main concepts of modern Machine Learning.</p>

                <p>You can find more about the course <a href="https://class.coursera.org/ml-007"
                                                         target="_blank">here</a>.</p>

                <hr>

                <h5>Functional Programming Principles in Scala, École Polytechnique Fédérale de Lausanne</h5>
                <h6>06/2014</h6>

                <p>This course was presented by Martin Odersky, one of the founders of the Scala programming language.
                    It taught
                    functional programming principles with Scala used for the assessments.</p>

                <p>You can find out more about the course <a href="https://class.coursera.org/progfun-004"
                                                             target="_blank">here</a>.</p>

                <hr>

                <h5>Cryptography 1, Stanford</h5>
                <h6>06/2013</h6>

                <p>An introduction to cryptography. With homeworks set in Python.</p>

                <p>You can find out more about the course <a
                        href="https://class.coursera.org/crypto-2012-002/wiki/Overview" target="_blank">here</a>.</p>

            </div>
        </div>
    </div>

    <div>
        <hr class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3>Responsibilities and Interests</h3>
            </div>
            <div class="col-md-8">
                <h5>Lacrosse</h5>

                <p>I'm a member of Purley Lacrosse Club (Southern Premiership)</p>

                <h5>London Code Craftsmanship Meetup Group</h5>

                <p>This is a meetup group where programmers discuss and show different programming techniques.</p>

            </div>
        </div>
    </div>

    <div>
        <hr class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3>References</h3>
            </div>
            <div class="col-md-8">
                <p>Available upon request</p>
            </div>
        </div>
    </div>

    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul class="footer-links">
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted">GH/HAMISHDICKSON</a>
                </li>
            </ul>
        </div>
    </div>
</div>