<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Hamish Dickson</h3>
        </div>
        <div class="panel-body">
            <p>Hi - here is my CV!</p>
            <p>This page is under construction - please try again soon</p>
        </div>
    </div>
</div>

<div class="my-cv">
    <h2>Education</h2>
    <div>
        <h3>Imperial College London</h3>
        <h3>MSc Quantum Fields with Fundamental Forces - 2006/2007</h3>
        <p>Basically string theory</p>
        <p>Dissertation: Limitations of Quantum Information Theory</p>
    </div>

    <div>
        <h3>Imperial College London</h3>
        <h3>MSci Physics with Theoretical Physics - 2002/2006</h3>
        <p>I loved this</p>
        <p>Dissertation: Quantum Dechoerence and Topos Theory</p>
    </div>

    <div>
        <h3>Rossett School, Harrogate</h3>
        <div>
            <h4>A Levels - 2000/2002</h4>
            <p>Maths: A</p>
            <p>Further Maths: A</p>
            <p>Physics: A</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3>About</h3>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="col-sm-12">
            <h4>snowbear.co</h4>

            <p>Snowbear started out of a "great idea for a startup" that I (Hamish) had a few years ago, slowly I
                realised that actually my "great idea for a startup" had not only already been done, but been done very
                well.</p>

            <p>I'm planning to write a blog post on my "great idea" - don't get too excited,
                <a href="http://boinc.berkeley.edu/wiki/Main_Page" target="_blank">BOINC and SETI</a> did it far better,
                long ago.</p>

            <p>Anyway, so my new project is to build this site so it's a useful collection of tutorials and blogs.</p>

            <hr>

        </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <h4>Hamish Dickson</h4>

                <img src="../images/hamish-about-pic.jpg" class="img-responsive">

                <a class="twitter-timeline hidden-sm hidden-xs" href="https://twitter.com/_mishy"
                   data-widget-id="500772492449828864">Tweets
                    by @_mishy</a>

            </div>
            <div class="col-sm-9">

                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <h4>About me in brief</h4>

                        <h5>TL; DR</h5>

                        <p>Hi! I'm Hamish and I'm a geek. I use java and HTML/CSS by day and nodejs and python by night, if you
                            only need to know 3 things about me they should be:</p>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <i class="fa fa-graduation-cap fa-3x"></i>
                        </div>
                        <div>
                            <h5>I'm always learning</h5>

                            <p>It's really important to me that I stay challenged and keep learning things. I actually
                                consider a day without learning a wasted day.</p>

                        </div>

                    </div>

                    <div class="col-sm-4">
                        <div>
                            <i class="fa fa-terminal fa-3x"></i>
                        </div>

                        <div>
                            <h5>I love to code</h5>

                            <p>I'm great at breaking problems down and solving them - coding is great for that.</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div>
                            <i class="fa fa-wrench fa-3x"></i>
                        </div>
                        <div>
                            <h5>I'm an expert</h5>

                            <p>I'm an expert in java, SQL, node.js and javascript. I also know a thing or two about clojure,
                                scala and python.</p>

                        </div>

                    </div>
                </div>

                <div class="col-sm-12">


                    <hr>

                    <h4>More about me</h4>

                    <h5>What interests me</h5>

                    <p>I've recently been using the MEAN architecture (MongoDB, Express.js, Angular.js, Node.js) a lot and it's great.
                        Single page webapps have become very powerful over the years (I remember when Google Maps first came out and all I
                        could say was "WOW! How did they do that?!"), MEAN is great for that - you can make something really cool in just a
                        few hours.</p>

                    <p>I'm really interested in breaking how big, hard problems. I love trying to think about turbulence and how the
                        problem could be broken out into smaller chunks that could be modelled. This is normally what I'm thinking about
                        when I'm on the tube or in the shower or going for a walk.</p>

                </div>
                <div class="col-sm-12">

                    <hr>

                    <h5>What I'm good at</h5>

                    <p>I'm at my best when I've been given a problem which no body really understands and told to find the solution.
                        This is also the bit of work I'm best at.</p>

                    <p>I'm good at teaching. Over the last few years I have taught lots of new graduates to code and analyse problems.</p>

                    <p>No one can work on their own all the time, I've always been good at working with people (I'm a fan of a type of
                        pair programming) and I'm very good at getting my ideas across to people.</p>

                    <hr>
                </div>
                <div class="col-sm-12">

                    <h5>Learning</h5>

                    <p>Keeping on top of new ideas and concepts is very important as a programmer, you have to constantly be out
                        learning new things (this fits my personality well, so I'm pretty happy with it!)</p>

                    <div class="col-sm-4">

                        <h5>What I'm learning at the moment</h5>

                        <ul>
                            <li>AngularJs</li>
                            <li>Clojure</li>
                            <li>Relearning statistical physics, with the aim of modeling it</li>
                        </ul>

                    </div>
                    <div class="col-sm-4">


                        <h5>What I'm planning to learn next</h5>

                        <ul>
                            <li>Machine learning</li>
                            <li>Modeling the statistical physics I'm learning</li>
                        </ul>

                    </div>

                    <div class="col-sm-4">

                        <h5>What I'm reading right now</h5>

                        <ul>
                            <li>Refactoring: Improving design of existing code, Martin Fowler</li>
                            <li>Clojure in action</li>
                        </ul>
                    </div>


                </div>

                <div class="col-sm-12">
                    <hr>

                    <h5>My code</h5>

                    <p>You can find a lot of my publically available code <a href="https://github.com/hamishdickson"
                                                                             target="_blank">over here on github</a>. Most of my code
                        there is webapp based. I tend to use ocatve or python to model things, because of that they typically bits of
                        very specific unpolished script which doesn't lend itself to github.
                    </p>
                </div>
                <div class="col-sm-12">

                    <hr>

                    <h5>Where I work now</h5>

                    <p>Like any good superhero, I have a day job -
                        <a href="http://uk.linkedin.com/pub/hamish-dickson/67/3b0/47b/" target="_blank">find out more
                            about
                            it here.</a></p>

                </div>
                <div class="col-sm-12">

                    <hr>

                    <h5>My life plan</h5>

                    <div class="col-sm-6">

                        <h5>Where I'd like to be in 5 years</h5>

                        <p>I'd love to work for a small start up. I'm great at building things from scratch and I think
                            a new startup would be an ideal place for me to work.</p>

                    </div>
                    <div class="col-sm-6">

                        <h5>Where I'd like to be in 10 years</h5>

                        <p>It's hard to say. I love coding and maths, so ideally something that will allow me to keep
                            doing that.</p>

                    </div>

                </div>

                <div class="col-sm-12">
                    <hr>

                    <h5>Non-geeky stuff</h5>

                    <p>I'm really passionate about coding and learning new things, but realistically you can't do that 24/7
                        and absorb it all - I like to get away from it all by going to the gym and lifting these heavy things up
                        and down. I'm also really into my rugby and lacrosse.</p>
                </div>

                <div class="col-sm-12">
                    <hr>

                    <h5>Education</h5>

                    <h6>Imperial College London, MSc Quantum Fields and Fundamental Forces 2006-2007</h6>

                    <p>Basically, this is string theory and all the bits you need to understand it. Great fun, if you
                        ever
                        want to lose a couple of hours, ask me about it!</p>


                    <h6>Imperial College London, MSci Physics with Theoretical Physics 2002-2006</h6>

                    <p>My undergraduate life was spent avoiding labs at all costs and finding new maths and techniques
                        to
                        solve problems. I'm
                        still totally fascinated by anything quantum field like or anything involving turbulence.</p>


                    <h6>Rossett School, Harrogate, 2000-2002</h6>

                    <p>A-levels: Maths (A), Further Maths (A), Physics (A)</p>
                </div>
            </div>


        </div>
    </div>
</div>