<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Hamish Dickson</h3>
        </div>
        <div class="panel-body">
            <p>Hi - here is my CV!</p>
            <p>This page is under construction - please try again soon</p>
        </div>
    </div>
</div>

<div class="my-cv">
    <h2>Education</h2>
    <div>
        <h3>Imperial College London</h3>
        <h3>MSc Quantum Fields with Fundamental Forces - 2006/2007</h3>
        <p>Basically string theory</p>
        <p>Dissertation: Limitations of Quantum Information Theory</p>
    </div>

    <div>
        <h3>Imperial College London</h3>
        <h3>MSci Physics with Theoretical Physics - 2002/2006</h3>
        <p>I loved this</p>
        <p>Dissertation: Quantum Dechoerence and Topos Theory</p>
    </div>

    <div>
        <h3>Rossett School, Harrogate</h3>
        <div>
            <h4>A Levels - 2000/2002</h4>
            <p>Maths: A</p>
            <p>Further Maths: A</p>
            <p>Physics: A</p>
        </div>
    </div>
</div>