<div class="home-page transparent">
    <div class="col-sm-12 meeeee">
        <h1>Hamish Dickson</h1>
        <hr>
    </div>

    <div class="col-sm-6 meeeee brief">
        <p>Hi, I'm Hamish - I'm a developer based in London, England.</p>

        <p>You can find out more about me <a href="/about">here</a></p>

        <p>You can also see what I'm working on <a href="/projects">here</a></p>
    </div>

    <div class="col-sm-6">
        <h2>Latest bloggy thing</h2>

        <h3>Pick your scrum master carefully</h3>

        <p>Full disclosure: before you start reading this, I want to make clear I'm no scrum expert - I've not even
            done the certification for it. I've only really worked in an agile for about 2 years, which isn't that
            long at all. However, I do know what a good development environment is.</p>

        <p>Now that's out the way. I've noticed something very interesting with the scrum teams I've worked in
            recently - having the right scrum master is key to success.</p>

        <p>If you don't have the right scrum master, something interesting happens</p>

        <p class="blog-footer">Hamish - 14th June 2015</p>

    </div>
</div>