<!--
HWD remove bootstrap rubbish

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body" ng-controller="MainController">
-->

<div>
    <div>
        <div class="body" ng-controller="MainController">

<!--
            <div id="sun"></div>
-->

            <svg id="svg"></svg>

            <svg id="sun"></svg>

            <svg id="earth"></svg>

            <svg id="mars"></svg>

            <svg id="comet"></svg>

<!--            <div id="earth"></div>

            <div id="mars"></div>

            <div id="comet"></div>-->
        </div>
    </div>
</div>