<div class="col-sm-12 meeeee">
    <h1>Hamish Dickson</h1>
    <hr>
</div>

<div class="col-sm-12 meeeee brief">
    <p>Hi, I'm Hamish - I'm a java developer based in London, England.</p>

    <p>You can find out more about me <a href="/about">here</a></p>

    <p>You can also see what I'm working on <a href="/projects">here</a></p>
</div>

<!--
<div class="col-sm-6 meeeee">
    <h2>My code</h2>
    <p>I like to code out in the open, have a look at it <a href="https://github.com/hamishdickson" target="_blank">here</a></p>
</div>


<div class="col-sm-6 meeeee">
    <h2>My projects</h2>
    <p>I have just published my first npm module, check it out <a href="https://www.npmjs.com/package/whats-goin-on" target="_blank">here</a></p>
</div>
-->
