<div class="col-md-12">

    <h3>My projects and code</h3>

    <p>I love open source software and try to make as much of my own software publically available as possible.
        GitHub is brilliant for that, so you can find a lot of what I'm allowed to
        publish <a href="https://github.com/hamishdickson" target="_blank">over here</a>.</p>

    <p>Much of this code is what could be described as "code for learning" - meaning in of it self it's not
        terribly useful, but it's good reference material.</p>

    <div>
        <h4>whats-goin-on - javascript</h4>

        <p>A command line tool to find out what your friends are up to on github</p>

        <p>This is the first thing I've published on npm and although it's only a very simple command line tool, people
            seem to be using it - it got over 300 downloads in it's first week. As with everything else I do, it's open
            source and you can
            <a href="https://github.com/hamishdickson/whats-goin-on" target="_blank">view the code here</a> or you can
        download it and use it yourself <a target="_blank" href="https://www.npmjs.com/package/whats-goin-on">with npm</a></p>

        <hr>
    </div>

    <div>
        <h4 id="gol">game of life - java, javascript</h4>

        <p>For those who are sharp eyed, you may have noticed the background of this site changes like some kind of weird
        game of tetris ... well it's actually an implementation of Conway's game of life. It's a very very simple model of
        life where "cells" which are overcrowded die as do those who are undercrowded ... but those with just the right
        number of neighbours live.</p>

        <p>There is an excellent description of it <a href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
                                                      target="_blank">on wikipedia</a>, or you can see my java version
        of it <a target="_blank" href="https://github.com/hamishdickson/game-of-life">here</a></p>

        <hr>
    </div>

    <div>
        <h4>BurnupPrototype - Matlab</h4>

        <p>Using Machine Learning to judge when your next agile project will finish.</p>

        <p><a href="https://github.com/hamishdickson/burnupPrototype" target="_blank">View the code here</a></p>
        <hr>
    </div>

    <div>
        <h4>Jobs5 - javascript</h4>

        <p>A job tracker helping keep track of what you're working on.</p>

        <p><a href="https://github.com/hamishdickson/jobs5" target="_blank">View the code here</a></p>

        <hr>
    </div>

    <div>
        <h4>Figdoc - python</h4>

        <p>A bulk PDF generator for mass reporting.</p>

        <p><a href="https://github.com/hamishdickson/Figdoc" target="_blank">View the code here</a></p>
        <hr>
    </div>

    <div id="foots">
        <div class="col-sm-6">
            <p class="text-muted footer-text">Hamish is a developer based in London, England.</p>
        </div>
        <div class="col-sm-6">
            <ul class="footer-links">
                <li><a href="https://github.com/hamishdickson" target="_blank" class="text-muted">GH/HAMISHDICKSON</a></li>
                <li><a href="uk.linkedin.com/in/hamishdickson" target="_blank" class="text-muted">LINKEDIN/HAMISHDICKSON</a></li>
            </ul>
        </div>
    </div>
</div>