@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

$icon-font-path: '../fonts/';
$font-family-base: 'Open Sans', sans-serif;

$headings-font-family: Avenir, sans-serif;
$headings-font-weight: bold;

$menu-selected: #e7e7e7;

$text-muted: #90939a;

$footer-background: #245369;
$cell-alive: $footer-background;
$cell-border: #93BACC;

$link-color: #428bca;

@import 'bootstrap/bootstrap';

.dead {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.alive {
  @extend .dead;
  background-color: $cell-alive;
  border: solid 4px $cell-border;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.footer-text {
  text-align: right;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: $footer-background;
  padding-top: 25px;
  height: 70px;
  width: 100%;
}

ul {
  list-style-type: none;
}

.nav > li:hover {
  background-color: $menu-selected;
}

#main-panel {
  position: absolute;
  top: 60px;
  left: 15%;
  background-color: #ffffff;
  width: 70%;
}

.background {
  position: absolute;
  top: 60px;
}

.footer-text {
  text-align: right;
}

.brief {
  padding-top: 100px;
  padding-bottom: 100px;
}

// we don't need so much on a small screen
@media (max-width: 750px) {
  .footer-text, .footer-links {
    text-align: center;
  }

  #main-panel {
    @extend #main-panel;
    left: 0%;
    width: 100%;
  }

  footer {
    @extend footer;
    height: 100px;
  }
}

.meeeee {
  text-align: center;
}

a {
  border-bottom: 1px solid $link-color;
}

a:hover, a.navbar-brand:hover {
  text-decoration: none;
  border-bottom: 4px solid $link-color;

  .find-me-icon {
    color: $link-color;
  }
}

li > a, a.navbar-brand {
  border-bottom: none;
}

li > .find-me-icon:hover {
  color: $footer-background;
}

.navbar-right:last-child {
  padding-right: 3em;
}

.home-page {
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.blog-footer {
  color: grey;
}